/*  your css code here. If applicable */
/* div{
	background:lightblue;
	
} */
body{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	margin:0px;
}.box{
	background:lightblue;
	border:2px solid black;
	padding:20px;
	text-align:center;
	
} 